@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .callback-item
    padding: 60px 40px 67px



/* Medium Devices, Desktops */
@media only screen and (max-width : 1100px)
  .phone
    font-size: 18px

  .nav-item
    margin: 0 10px 0 0

  header
    .btn
      padding: 7px 22px


@media only screen and (max-width : 992px)
  .btn-burger
    display: flex

  header
    margin: 0 0 20px
    .nav-menu
      display: none

  .search-section
    margin: 0 0 30px

  .label-select
    margin: 0 7px 20px 0

  .callback-item
    padding: 30px

  .about
    margin: 20px 0 40px

  h2
    margin: 0 0 20px

  .callback-box
    flex-direction: column
    align-items: flex-start
    h3
      text-align: center
      margin: 0 auto 20px
      max-width: none

  .form
    max-width: none
    width: 100%
    justify-content: center

  .for-a-hundred
    margin: 40px 0

@media only screen and (max-width : 850px)
  .label-select
    margin: 0 0 10px
    max-width: none

  .list-cat
    margin: 0 0 0 10px

@media only screen and (max-width : 768px)
  .label-select
    max-width: 49%

  .form-sorting
    justify-content: space-between

  .callback-item
    margin: 0 0 30px
    .btn
      max-width: 49%

  .callback-item__text
    max-width: none
    order: 1
    margin: 20px 0 0
    .btn
      margin: 20px 0 0
    p
      max-width: none

  .list-cat
    margin: 0

  .img-wrapper
    margin: 20px auto 0

  .about
    .btn
      margin: 20px auto 0

  .advantages
    h2
      margin: 0 auto 30px

  .mb-50
    margin-bottom: 30px

  .form
    justify-content: space-between
    label
      margin: 0 0 10px
      max-width: 49%
    button
      margin: 10px auto 0

  .callback-box
    padding: 30px 20px

  .reviews-wrapper
    flex-direction: column
    align-items: center

  .reviews-box
    margin: 0 auto 20px

  .mail
    margin: 20px 0

  .map
    height: 250px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px)
  header
    .schedule, .btn
      display: none


@media only screen and (max-width : 480px)
  header
    padding: 10px 0

  .callback-box h3
    font-size: 22px

  h2
    font-size: 22px

  footer
    .phone
      font-size: 16px
    .logo
      margin: 0 auto 20px
      justify-content: center
      align-items: center
      display: flex
    .schedule
      margin: 0 0 20px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/

